{
    "root": true,
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "jquery": true,
        "node": true,
        "es6": true,
        "amd": true,
        "mocha": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "indent": [
            2,
            "tab",
            {
                "SwitchCase": 1
            }
        ],
        "no-extra-boolean-cast": [
            0
        ],
        "no-console": [
            0
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "no-empty": 0,
        "no-restricted-imports": [
            0
        ]
    }
}