.button{
  @include font($font:$font, $size:1.6rem, $line_height:2rem, $color:$white, $font_weight:$regular);
  display: inline-block;
  padding: .6rem 6rem;
  border-radius: 10rem;
  border: none;

    &--blue{
      background: $blue-button;
      @include box-shadow-strong($blue-button);
    }

    &--white{
      color: $blue-brand;
      background: $white;
      @include box-shadow-strong($white);
    }

    &--magenta{
      color: $white;
      background: $magenta-button;
      @include box-shadow-strong($magenta-button);
    }
}
