.text{
  &__regular{
    @include font($font:$font, $size:14px, $line_height:2rem, $color:gray, $font_weight:null);

    @include mq($from: $lg) {
      @include font($font:$font, $size:1.6rem, $line_height:2rem, $color:$gray, $font_weight:$regular);
    };
    @include font($font:$font, $size:1.6rem, $line_height:2rem, $color:$black, $font_weight:null);
    font-weight: normal;

    &--white{
      color: $white;
    }

    &--magenta {
      color: $magenta-button;
    }
  }

  &__big {
    font-size: 2.6rem;
  }

  &__bold {
    @include font($font:$font, $size:1.6rem, $line_height:2rem, $color:$black, $font_weight:null);
    font-weight: bold;
  }
  &__lighter {
    @include font($font:$font, $size:1.6rem, $line_height:2rem, $color:$black, $font_weight:null);
    font-weight: lighter;
  }
}
