/****************/
/* COLORS */
/****************/
$black: #000000;
$white: #FFFFFF;
$gray: #9b9b9b;
$grey-brand: rgba(0, 0, 0, 0.54);
$blue-brand: #008F8F;
$blue-botton: #387CD7;
$magenta-button: #D81D60;
$magenta-bg: #FF004C;
$footer: #4A4A4A;

/****************/
/* FONTS & WIDTH */
/****************/
$font: 'Source Sans Pro', sans-serif;

$extra-light: 200;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 900;


/****************/
/* Media Queries with _Sass-mq_ */
/* https://github.com/sass-mq/sass-mq */
/****************/
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$mq-breakpoints: (
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl
);

//Debug Media Queries
$mq-show-breakpoints: (sm, md, lg, xl);

/****************/
/* CONFIG BOOTSTRAP */
/****************/
$enable-grid-classes:       true !default;

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
    0: (
        x: 0,
        y: 0
    ),
    1: (
        x: ($spacer-x * .25),
        y: ($spacer-y * .25)
    ),
    2: (
        x: ($spacer-x * .5),
        y: ($spacer-y * .5)
    ),
    3: (
        x: $spacer-x,
        y: $spacer-y
    ),
    4: (
        x: ($spacer-x * 1.5),
        y: ($spacer-y * 1.5)
    ),
    5: (
        x: ($spacer-x * 3),
        y: ($spacer-y * 3)
    )
) !default;
$border-width: 1px !default;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%
) !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xs: 0,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width-base:     30px !default;
$grid-gutter-widths: (
    xs: $grid-gutter-width-base,
    sm: $grid-gutter-width-base,
    md: $grid-gutter-width-base,
    lg: $grid-gutter-width-base,
    xl: $grid-gutter-width-base
) !default;