.hero {
  height: 100vh;
  background-image: url("https://alexwyke.files.wordpress.com/2013/05/shuttershock-medical-devices-corp-rep.jpg");
  background-color: $blue-brand;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
  background-size: cover;

  &__baseline{
    p{
      margin-top: 1rem;
    }
  }

  .container{
    height:100vh;

    & > .row{
      height:100vh;
    }
  }
}

.revolution{
  &__probe{
    position: relative;

    &:before{
      content: "";
      display: block;
      position: absolute;
      width: 27rem;
      height: 27rem;
      background-color: $magenta-button;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    img{
      width:25rem;
    }
  }
}

.section{
  margin: 4.8rem 0;
}
