.hero {
  height: 100vh;
  background-image: url("https://alexwyke.files.wordpress.com/2013/05/shuttershock-medical-devices-corp-rep.jpg");
  background-color: $blue-brand;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
  background-size: cover;

  &__baseline{
    color: $white;

    span{
      @include font($font:$font, $size:5rem, $line_height:3rem, $color:null, $font_weight:null);
    }

    p{
      @include font($font:$font, $size:1.4rem, $line_height:2rem, $color:null, $font_weight:null);
      margin-top: 1rem;
    }
  }

  &__button{
    @include font($font:$font, $size:1.6rem, $line_height:2rem, $color:$blue-brand, $font_weight:null);
    display: inline-block;
    background: $white;
    margin-top: 3rem;
    padding: .8rem 6rem;
    border-radius: .2rem;
  }

  .container{
    height:100vh;

    & > .row{
      height:100vh;
    }
  }
}

.revolution{
  &__probe{
    position: relative;

    &:before{
      content: "";
      display: block;
      position: absolute;
      width: 80%;
      height: 80%;
      background-color: $magenta-bg;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.section{
  margin: 4.8rem 0;
}
