.product {
  .countrySlider {
    position: relative;
    overflow: hidden;

    &__container {
      position: absolute;
      width: 100%;
    }
    &__tab {
      position: relative;
      z-index: 1;
    }
    &__tabItem {
      text-transform: uppercase;
      text-align: center;
      height: 56px;
      &.afrique {
        background: $blue-button;
      }
      &.europe {
        background: $cyan;
      }
      &.asie {
        background: #DA127B;
      }
      &.active {
        height: 64px;
        @include mq($from: md) {
          position: relative;
          bottom: 8px;
        }
      }
    }
    &__item{
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 100vh;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before{
        content: "";
        background-color: $black;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: .7;
      }

      &.is-selected{
        .countrySlider__date{
          transform: translate(-50%, -65%);
          opacity: .3;
        }

        .countrySlider__text{
          transform: translateY(-20%);
          opacity: 1;
        }
      }
    }
    &__tabItemText {
      @include font($font: $font, $size: 1.6rem, $line_height: 0.75rem, $color: $white, $font_weight: $black);
      padding: 16px 0px;
    }
    &__content {
      height: 80vh;
    }

    &__date {
      @include font($font: $font, $size: 30rem, $line_height: 2.5rem, $color: $white, $font_weight: $semi-bold);
      margin-bottom: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
      z-index: 10;
      opacity: 0;
      transition: 2s all;
    }

    &__text {
      @include font($font: $font, $size: 3rem, $line_height: 1rem, $color: $white, $font_weight: $light);
      width: 60vw;
      text-align: center;
      z-index: 13;
      transform: translateY(-50%);
      opacity: 0;
      transition: 2s 1s all;
    }

    &__selection {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      padding: 2rem 0;
    }
    &__selectionChoice {
      @include font($font: $font, $size: 3.5rem, $line_height: 2.5rem, $color: $white, $font_weight: $regular);
      margin-right: 4rem;
      overflow: hidden;
      position: relative;

      &:before{
        content: '';
        display: block;
        position: absolute;
        height: .2rem;
        width: 100%;
        background: $white;
        bottom: .4rem;
        transform: translateX(-100%);
        transition: .5s all;
      }

      &.is-nav-selected{
        &:before{
          transform: translateX(0);
        }
      }
    }
  }

  .bePartner, .beContributor {
    background: #DA127B;
    padding: 55px 30px;
    @include mq($from: md) {
      padding: 95px 70px;
    }
    &__subtext {
      @include font($font: $font, $size: 1.5rem, $line_height: 0.75rem, $color: $white, $font_weight: $regular);
      margin-bottom: 10px;
      @include mq($from: md) {
        margin-bottom: 20px;
      }
    }
    &__title {
      @include font($font: $font, $size: 2.1rem, $line_height: 1rem, $color: $white, $font_weight: $black);
      margin-bottom: 20px;
      @include mq($from: md) {
        font-size: 3.2rem;
        margin-bottom: 40px;
      }
    }

    &__text {
      @include font($font: $font, $size: 1.5rem, $line_height: 2.25rem, $color: $white, $font_weight: $regular);
      margin-bottom: 20px;
    }

    &__button {
      @include font($font: $font, $size: 1.7rem, $line_height: 0.5625rem, $color: $white, $font_weight: $semi-bold);
      background: $white;
      color: $blue-button;
      border: none;
      padding: 12px 25px;
      border-radius: 25px;
      width: 100%;
      @include mq($from: md) {
        width: 290px;
        margin-bottom: 40px;
      }
    }
  }

  .beContributor {
    background: $cyan;
  }

  .no-marginpadding {
    margin: 0;
    padding: 0;
  }
}

.product-banner{
  padding: 8rem 0;
}

.product-pin{
  padding-bottom: 6rem;
}
