.header {
  left: 0;
  right: 0;
  top: 0;
  padding: 1rem 0;
  z-index: 20;

  &--posAbsolute {
    position: absolute;

    .header__nav ul li a {
      //color: $white;
      color: #000;
      @include mq($from: lg) {
        color: #ffffff;
      }
    }
  }

  &__don {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
  }

  &--fixed {
    position: fixed !important;
    background-color: white;
    box-shadow: 0 0 2px 0 $gray;
    padding: 1rem 0;
    top: 0;
    animation: 1s appear-in;

    .header__nav ul li a {
      color: $black;
    }

    .header__don {
      color: #D81D60;
      border-bottom: 2px solid #D81D60;
    }
  }

  &__logo {
    width: 12rem;
  }

  &__nav {
    display: inline-block;

    .header__burger {
      position: relative;
      width: 30px;
      height: 23px;
      display: block;
      cursor: pointer;
      @include mq($from: lg) {
        display: none;
      }
      &.active {
        z-index: 3;
        position: fixed;
        right: 15px;
        top: 22px;
        span {
          transition: 0.2s;
          background: #000;
          &:first-child {
            transform: rotate(45deg);
            top: 10px;
          }
          &:nth-child(2) {
            display: none;
          }
          &:last-child {
            transform: rotate(-45deg);
            top: 10px;
          }
        }
      }
      span {
        width: 100%;
        height: 2px;
        background: $white;
        left: 0;
        transition: 0.2s;
        &:first-child {
          position: absolute;
          top: 0;
        }
        &:nth-child(2) {
          position: absolute;
          top: 10px;
        }
        &:last-child {
          position: absolute;
          top: 20px;
        }
      }
    }

    // Navigation
    ul {
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      &.active {
        display: block;
        background: rgba(255, 255, 255, 0.9);
        color: black;
        padding: 110px 0 0;
        @include mq($from: lg) {
          background: initial;
          color: $white;
          padding: initial;
          display: flex;
        }
      }
      @include mq($from: lg) {
        display: flex;
        position: initial;
        width: initial;
        height: initial;
      }
      li {
        margin-bottom: 25px;
        text-align: center;
        @include mq($from: lg) {
          margin-left: 1.8rem;
          text-align: inherit;
          margin-bottom: inherit;
        }

        &:last-child a {
          color: $white;
          font-size: 1.7rem;
          width: 275px;
          display: block;
          margin: auto;
          padding: 1rem 1.2rem;
          @include mq($from: lg) {
            padding: .5rem 1.2rem;
            margin: initial;
            display: inherit;
            width: initial;
          }
        }

        a {
          font-size: 2.9rem;
          color: $black;
          font-weight: $bold;
          @include mq($from: lg) {
            font-weight: $regular;
            font-size: 1.6rem;
          }
        }

        &:last-child {
          @include mq($from: lg) {
            margin-left: 3rem;
          }
          a {
            background: $magenta-button;
            padding: .5rem 1.2rem;
            border-radius: 100rem;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  &--fixed {
    .header__burger span {
      background: black;
    }
  }

  .row {
    min-height: 5rem;
  }
}

@keyframes appear-in {
  from {
    opacity: 0;
    transform: translateY(-100%)
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes appear-out {
  from {
    opacity: 1;
    transform: translateY(0)
  }
  to {
    opacity: 0;
    transform: translateY(-100%)
  }
}
