/*****************/
/******HTML5 Elements*****/
/*****************/
@at-root{

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

  html, body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
  }

  html {
    position: relative;
    color: $black;
    background-color: $white;
    height: 100%;
    -webkit-font-smoothing: antialiased;
  }

  body {
    background-color: $white;
    font-family: $font;
  }


    *, *::before, *::after
    {
        background-repeat: no-repeat;
    }

  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }

    p
    {
        margin:0;

    }


    svg,img
    {
        width: 100%;
        max-width:100%;
    }


    ul
    {
        margin:0;
        padding:0;
    }


  li
  {
    list-style: none;
  }


    a
    {
        text-decoration:none;
        color: inherit;
        &:hover{
            text-decoration: none;
        }
    }


    blockquote
    {
        padding:0;
        margin:0;
    }

    button:focus,
    input:focus {
        outline:0;
    }
}


/*****************/
/****** USEFUL CLASSES *****/
/*****************/

.overflow
{
    overflow:hidden;
}

.overflow-x
{
    overflow-x:hidden;
}


.uppercase
{
    text-transform:uppercase;
}


.hide-for-viewer
{
    @include hide-for-viewer;
}

::selection{
    background: $black;
    color: $white;
}
