@import './sass/_config/functions';
@import './sass/_config/mixins';
@import './sass/_config/variable';
@import './sass/_config/sass-mq/mq';

@import './sass/_project/base/base';
@import './sass/_project/fonts/fonts';
@import './sass/_project/components/button';
@import './sass/_project/components/title';
@import './sass/_project/components/text';


@import './sass/_project/grid/mixins';
@import './sass/_project/grid/utilities';
@import './sass/_project/grid/grid';

@import './sass/_project/plugins/flickity';

@import './components/header/header';
@import './components/pin/pin';
@import './components/banner/banner';
@import './components/interactiveMap/InteractiveMap';
@import './components/footer/footer';

@import './view/home/home';
@import './view/product/product';
@import './view/contact/contact';




/* Les animations d'entrée (« enter ») et de sortie (« leave »)  */
/* peuvent utiliser differentes fonctions de durée et de temps.  */
.slide-enter-active {
    transition: all 1s ease;
}
.slide-leave-active {
    transition: all 1s .5s ease;
}
.slide-enter, .slide-leave-to
    /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateY(-3rem);
    opacity: 0;
}